@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Nunito');
body {
	background: #3b5998;
	font-family: 'Nunito', sans-serif;
	color: #000;
}
#content-wrap {
	background: #f7f7f7;
	width: 80%;
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
}
h3 {
	font-size: 2em;
	font-weight: bold;
}
.center {
	text-align: center;
}
footer {
	margin-top: 50px;
	font-size: 0.8em;
	text-align: center;
	color: #888;
}
.symbol {
	font-size: 5em;
	color: #cc4656;
	display: block;
	text-align: center;
	line-height: 1em;
}